# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.sln
*.suo
*.vcxproj
*.user
*.filters
*.opensdf
*.log
*.tlog
Debug/